/* resets */

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, header {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    color: inherit;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-style:none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}
/* animaciones */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* variables */
:root {
    font-size: 16px;
    --bg-color: #002654;
    --text-main: rgb(211, 216, 223);
    --text-paragraph: rgba(250, 250, 250, 0.48);
    --vh: calc(85vh);
    --boton2:rgba(42, 75, 112, 0.68);
    --botton-height:calc(25px + 1rem);
    --item-clicked :#ff8738;
}

/* comienzo de estilos */
.body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    height: 100vh;

}

.container {
    width: 100vw;
}

.header-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main-icon {
    height: 25px;
    margin-top: 1rem;
    margin-left: 1rem;
    display: block;
}


.section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.home {
    height: var(--vh);
    justify-content: flex-end;
    align-items: center;
    gap: 1.188rem;
}

.home-header {
    padding-bottom: 1rem;
    width: 100%;
    border-bottom: 1px solid;
}

.home-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.header-h1 {
    margin: 0 auto;
    width: 95%;
    font-size: calc(2rem + 1vw);
    font-weight: 150;
    text-align: center;
    line-height: 110%;

}

.info-paragraph {
    font-size: calc(1rem + 0.2vw);
    text-align: center;
    color: var(--text-paragraph);
}

.info-paragraph-highlight {
    color: var(--text-main);
}

.citado {
    font-size: calc(.60rem + 1vw);
    font-weight: 200;
    text-align: center;
    color: var(--text-paragraph);
}

.start-button {
    background-color: rgba(204, 41, 54, 80%);
    padding-top: 0.65rem;
    margin-top: .7rem;
    padding-bottom: 0.65rem;
    font-weight: 200;
    font-size:1.1rem;
    border-radius: 7px;
    color: var(--text-main);
}

.main-menu {
    height: calc(var(--vh) - var(--botton-height));
    padding-top: 1rem;
    margin-bottom: 1rem;
    justify-content: flex-start;
}

.menu-header{
    display: flex;
    gap: 5vh;
    flex-direction: column;
    align-items:center;
}

.start-p {
    text-align: center;
    width: 70%;
    font-size: calc(1.1rem + 0.2vw);
    line-height: 150%;
}

.nav-grades {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.header-nav, .nav-grades {
    width: 100%;
}

.menu-nav {
    height: 100%;
}

.nav-niveaux {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 2.5vh;
    align-items: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius:7px ;
}

.niveaux-item {
    font-size: calc(.8rem + 0.2vw);
    width: 35vw;
    height: 13%;
    font-weight: bold;
    border-radius: 7px;
    background-color:var(--boton2) ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grades-item {
    padding: 3vw 5vw;
    transition: all .5s ease;
    border-radius: 7px;

}

.clicked {
    background-color: var(--item-clicked);
    color: var(--bg-color);
    border-radius: 7px;
    transform: scale(1.1);
}

.fadeIn {
    animation: fadeIn 2s ease;
}

.hidden {
    display: none;
}
