/*generales y resets*/

* {
	box-sizing: border-box;
}

li, ul, h1, h2, p {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	all: initial;
}


body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	
}

/** tamano **/

.container {
	min-height: 100vh;
	max-width: 100vw ;
}

.menu-container {
	width: 100%;
}

.main__container {
	flex-grow: 1;
}

.header {
	height: 60px;
}
.footer { 
	height: 50px;
}

/** estructura **/

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.main__container {
	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
	padding: 0;
}

.main__menu {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.main__nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap:48px;
	height: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* estilos */
.main {
	/*background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Arc_de_Triomphe%2C_Paris_21_October_2010.jpg/1200px-Arc_de_Triomphe%2C_Paris_21_October_2010.jpg'); */
	background-color: #CCCCCC;
	padding: 10px 0;
	background-size:cover;
	background-position: center;
}

.menu-container {
	text-align: center;
}
.main__button {
	text-align: center;
	height: 40px;
	width: 135px;
	border-radius: 4px 0 0 4px;
	border-left: #CC2936 4px solid;
	background-color: #FFFFFF;
	opacity: 0.7;
	box-shadow: none;
}

.main__title {
	font-size: 1.2em;
}

.main__menu {
	padding: 20px 0;
}

.main__menu-item {
	border: 1px solid black;
	border-radius: 3px;
	padding:  5px 15px;
}

.main__menu-item:hover {
	background-color: white;
}

.header__title {
	text-align: center;
	font-size: 25px;
	color: white;
}

.header, .footer {
	background-color: #002654;
}

#welcome-section {
	border-left: solid 6px #002654;
	border-radius:6px 0 0 6px;
	background-color: white;
	opacity: 0.7;
	padding: 10px  10px;
	margin: 0 40px;
}

.main__paragraph, .main__title {
	padding: 2.5px 0;
}
.footer {
	color: gray;
	padding: 10px;
	font-size: 13px ;
}


/*clases para alternar / componentes */

.hidden {
	display: none;
}