/* resets */

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

}

/* variables */
:root {
    --actualVH: 100vh;
    --bg-color: #002654;
    --text-main: rgb(211, 216, 223);
    --text-paragraph: rgba(250, 250, 250, 0.48);
}

/* comienzo de estilos */
.body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;

}

.container {
    width: 100vw;
    height: 100vh;
    height: calc(100vh - 60px);
    height: var(--actualVH);
}



.section {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-header {
    padding-bottom: 16px;
    border-bottom: 1px solid;
}

.home-intro {
    padding-top: 40px;
}

.header-h1 {
    font-size: 2.25rem;
    font-weight: 150;
    text-align: center;
    line-height: 115%;

}

.info-paragraph {
    margin-bottom: 16px;
    text-align: center;
    color: var(--text-paragraph);
}

.info-paragraph-highlight {
    color: var(--text-main);
}

.hidden {
    display: none;
}
